.report_listContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 5em;
  }

.table{
	margin-top: 2em;
	width: 75em;
}

.form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-wrap: wrap;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.right{
	padding-left: 20px;
}

.left{
	padding-right: 20px;
}
.actions{
	margin-top: 30px !important;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
}

.createButton{
	margin-left: 600px;
}

.ReportAction{
	display: flex;
	align-items: baseline;
	margin-left: 2em;
}

.SwitchButton{
	display: flex;
	flex-direction: row;
}

.summary {
	margin-right: 20em; /* Ajusta según sea necesario */
	width: calc(100% - 30em); /* Asegura que el contenido no se desborde */
	word-wrap: break-word; /* Permite que las palabras largas se dividan y se ajusten */
  overflow-wrap: break-word;
  }
  