.report_listContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 5em;
  }

.table{
	margin-top: 2em;
	width: 75em;
  	overflow-x: auto;
}

.form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-wrap: wrap;
}
.formControl {
	width: 35em;
  }
  
.col{
	display: flex;
	flex-direction: column;
	margin: 1em;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.containerAnnex{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.actions{
	margin-top: 30px !important;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 auto;
	gap: 1em;
}

.createButton{
	margin-left: 600px;
}

.ReportAction{
	display: flex !important;
	align-items: baseline !important;
	margin-left: 2em;
}

.SwitchButton{
	display: flex;
	flex-direction: row;
}

.summary {
	width: 80%; 
	word-wrap: break-word;
	overflow-wrap: break-word;
	padding: 1rem; /* Añadir algo de padding para separar del borde */
	overflow-y: auto; /* Permite desplazamiento horizontal si es necesario */
	max-width: 80em;
  }
  